---
- name: Get consul version
  ansible.builtin.command: '{{ consul_bin_dir }}/consul --version'
  changed_when: false
  failed_when: false
  check_mode: false
  register: _consul_version

- name: Install zip package
  ansible.builtin.apt:
    name: zip
    update_cache: true
    cache_valid_time: 3600
    state: present
  retries: 10
  delay: 10

- name: Download consul binary
  ansible.builtin.unarchive:
    src: '{{ consul_url }}'
    dest: '{{ consul_bin_dir }}'
    include: [consul]
    remote_src: true
    owner: root
    group: root
    mode: '0755'
  when: consul_version not in _consul_version.stdout_lines |
    default([''], True) | first
...
