---
consul_config: |
  node_name = "{{ inventory_hostname }}"
  datacenter = "{{ consul_dc }}"
  server = true
  ui_config {
    enabled = true
  }
  data_dir = "{{ consul_data_dir }}"
  addresses {
    http = "0.0.0.0"
  }
  encrypt = "{{ consul_secret_key }}"

  advertise_addr = "{{ ip_address }}"
  bind_addr = "{{ ip_address }}"
  bootstrap_expect = {{ consul_server_ips | length }}
  retry_join = [
  {% for ip in consul_server_ips | reject("eq", ip_address) %}
    "{{ ip }}"{{ '' if loop.last else ',' }}
  {% endfor %}
  ]

  recursors = [ "1.1.1.1", "8.8.8.8" ]

  tls {
    defaults {
      verify_incoming = true
      verify_outgoing = true
      ca_file = "{{ consul_cert.ca_path }}"
      cert_file = "{{ consul_cert.cert_path }}"
      key_file = "{{ consul_cert.key_path }}"
      verify_server_hostname = true
    }
  }

  service {
    name = "glpi-backend"
    address = "{{ ip_address }}"
    port = 443
    check {
      tcp = "{{ ip_address }}:443"
      tcp_use_tls = true
      tls_skip_verify = true
      interval = "100ms"
      timeout = "100ms"
    }
  }
...
